.top-navigation{
    display: flex;
}

body{
    font-family: 'Nixie One', cursive;
}

.logo-wrapper{
    display: block; 
    text-align: center;
    /* margin-left: auto;
    margin-right: 45%; */
    /* align-content: center; */
    /* align-self: center; */
} 

.navigators{
    display: block;
    text-align: center;
}

.tabs{
    /* display: block; */
    /* display: block; */
    text-align: center;
}

nav{
    flex: 1;
    text-align: center;
}

nav ul{
    display: inline-flex;
    list-style-type: none;
    min-width: 60%;
}

nav ul li{
    display: inline-flex;
    margin-right: 20px;
}

nav ul li{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

nav ul li a{
    color: #8a8a8a;
    text-decoration: aquamarine;
    transition: color 0.5s;
}

nav ul li :hover{
    border-bottom: 1px solid #6b3d16;
    color: #6b3d16;
    
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.page-home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 30px;

}

.col-2{
    max-width: 100%;
    padding: 50px 0;
}

.auth{
    display: inline-flex;
    margin-left: 20%;
}

.input{
text-align: center;
}
.input input{
    display: block;
    margin: auto;
    margin-top: 10px;
    background-color: transparent;
    border-color: rgb(61, 59, 59) thin;
    border-width: thin;
    min-width: 35%;
    min-height: 10%;
    border-radius: 5pt;
    font-size: 20px;
    font-family: 'Nixie One', cursive;
}

.input input::placeholder{
    font-family: 'Nixie One', cursive;
    font-size: 20px;
}

.input button{
    margin-top: 10pt;
    background-color: #e4bda9;
    min-width: 10em;
    border-radius: 20pt;
    min-height: 20pt;
    border-color: transparent;
}